<h2>Registrar</h2>

<%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <!-- Campos para os nomes do casal -->
  <div>
    <%= f.label :partner_1, "Nome do Parceiro 1" %><br />
    <%= f.text_field :partner_1, required: true %>
  </div>

  <div>
    <%= f.label :partner_2, "Nome do Parceiro 2" %><br />
    <%= f.text_field :partner_2, required: true %>
  </div>

  <div>
    <%= f.submit "Registrar" %>
  </div>
<% end %>
