<div class="min-h-screen bg-loveBlack text-white py-12">
  <div class="container mx-auto px-4 max-w-lg"> <!-- Ajuste para uma largura maior -->
    <!-- Título e Formulário -->
    <div class="bg-gray-800 py-8 px-10 rounded-lg shadow-xl mb-16">
      <div class="flex justify-between items-center mb-6">
        <div>

          <h1 class="text-4xl font-extrabold text-white tracking-wider">
            <% text = @event.new_record? ? "Adicionar Novo Evento de" : "Editar Evento de" %>
            <%= text %> 
            <span class="text-loveRed"><%= @couple.partner_1_first_name %></span> 
            e 
            <span class="text-loveRed"><%= @couple.partner_2_first_name %></span>
          </h1>
          <p class="text-gray-300 mt-2">Registre e comemore os eventos que tornam sua história inesquecível.</p>
        </div>
      </div>

      <%= form_with(model: [@couple, @event], local: true, class: "space-y-8") do |form| %>
        
        <!-- Título do Evento -->
        <div class="flex flex-col mb-4">
          <%= form.label :title, "Título do Evento", class: "block text-base font-semibold text-white mb-2" %>
          <%= form.text_field :title, 
                class: "w-full px-4 py-3 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-loveRed text-black" %>
        </div>

        <!-- Descrição -->
        <div class="flex flex-col mb-4">
          <%= form.label :description, "Descrição", class: "block text-base font-semibold text-white mb-2" %>
          <%= form.text_area :description, rows: 4, 
                class: "w-full px-4 py-3 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-loveRed text-black" %>
        </div>

        <!-- Data -->
        <div class="flex flex-col mb-4">
          <%= form.label :date, "Data do Evento", class: "block text-base font-semibold text-white mb-2" %>
          <%= form.date_field :date, 
                class: "w-full px-4 py-3 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-loveRed text-black" %>
        </div>

        <!-- Tipo de Evento -->
        <div class="flex flex-col mb-6">
          <%= form.label :event_type, "Tipo de Evento", class: "block text-base font-semibold text-white mb-2" %>
          <%= form.select :event_type, event_type_options, {}, class: "w-full px-4 py-3 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-loveRed text-black" %>
          <p class="text-sm text-gray-200 mt-2">Escolha o tipo que melhor descreve o evento.</p>
        </div>

        <!-- Upload de Imagens -->
        <div class="flex flex-col mb-6" data-controller="image-preview">
          <%= form.label :images, "Adicionar Imagens (Opcional)", class: "block text-base font-semibold text-white mb-2" %>
          <%= form.file_field :images, 
                multiple: true, 
                accept: "image/*", 
                data: { action: "change->image-preview#preview", "image-preview-target" => "input" },
                class: "w-full px-4 py-3 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-loveRed text-black" %>

          <!-- Pré-visualizações -->
          <div class="mt-4 grid grid-cols-2 gap-4" data-image-preview-target="previewContainer">
            <% if @event.images.attached? %>
              <% @event.images.each do |image| %>
                <div class="relative" data-image-id="<%= image.id %>">
                  <!-- Imagem -->
                  <%= image_tag(image, class: "rounded-lg shadow-md w-full h-40 object-cover") %>
                  <!-- Botão de Remover -->
                  <%= link_to destroy_image_couple_event_path(@event.couple, @event, image_id: image.id), 
                              data: { turbo_method: :delete, confirm: "Tem certeza que deseja remover esta imagem?" }, 
                              class: "absolute top-2 right-2 bg-red-600 text-white px-2 py-1 rounded-full text-xs hover:bg-red-800 transition-all transform hover:scale-110 flex items-center gap-2" do %>
                    <i class="fas fa-trash-alt"></i> Remover
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- Botão de Salvar -->
        <div class="text-center">
          <%= form.submit @event.new_record? ? "Salvar Evento" : "Salvar Alterações", 
                         class: "w-full bg-loveRed text-white px-6 py-3 rounded-lg font-semibold hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-loveRed transition-colors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
