<div class="min-h-screen bg-loveBlack text-white py-10">
  <div class="container mx-auto px-4">
    <!-- Título e Botão de Adicionar -->
    <div class="bg-gray-800 py-6 px-8 rounded-lg shadow-lg mb-12">
      <div class="flex justify-between items-center">
        <h1 class="text-4xl font-bold text-white tracking-wide">
          Momentos de <span class="text-loveRed"><%= @couple.partner_1_first_name %></span> e <span class="text-loveRed"><%= @couple.partner_2_first_name %></span>
        </h1>
        <%= link_to "Adicionar Evento", new_couple_event_path(@couple.slug), class: "bg-loveRed text-white px-6 py-3 rounded-md font-semibold hover:bg-red-600 shadow-xl transition-transform transform hover:scale-105" %>
      </div>
      <p class="text-gray-300 mt-2">Organize e celebre os momentos mais importantes da sua vida juntos.</p>
    </div>

    <% upcoming_events = @events.select { |event| event.date >= Date.today }.sort_by(&:date) %>
    <% past_events = @events.select { |event| event.date < Date.today }.sort_by(&:date).reverse %>

    <!-- Eventos Futuros -->
    <div class="mb-16">
      <h2 class="text-3xl font-bold text-loveRed mb-6 text-center">Próximos Momentos</h2>
      <% if upcoming_events.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <% upcoming_events.each do |event| %>
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:-translate-y-1 flex flex-col justify-between">
              <h2 class="text-2xl font-bold text-white mb-2"><%= event.title %></h2>
              <p class="text-sm text-gray-400 mb-4 line-clamp-3"><%= event.description %></p>
              <div class="flex items-center justify-between">
                <span class="text-sm font-semibold text-gray-300">
                  Data: <%= event.date.strftime("%d/%m/%Y") %>
                </span>
                <span class="px-3 py-1 text-sm font-bold rounded-full bg-loveRed text-white">
                  Evento
                </span>
              </div>

              <!-- Botões de Ação -->
              <div class="flex justify-between mt-4 space-x-4">
                <%= link_to edit_couple_event_path(@couple.slug, event), class: "text-loveRed hover:text-red-600 flex items-center gap-2 transition-all transform hover:scale-110" do %>
                  <i class="fas fa-edit"></i> Editar
                <% end %>

                <%= link_to couple_event_path(@couple.slug, event), method: :delete, data: { confirm: "Tem certeza que deseja excluir este evento?" }, class: "text-red-600 hover:text-red-800 flex items-center gap-2 transition-all transform hover:scale-110" do %>
                  <i class="fas fa-trash-alt"></i> Excluir
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-300 text-center">Nenhum evento futuro registrado.</p>
      <% end %>
    </div>

    <!-- Separador -->
    <div class="border-t border-gray-700 mb-16"></div>

    <!-- Eventos Passados -->
    <div class="mb-16">
      <h2 class="text-3xl font-bold text-gray-400 mb-6 text-center">Momentos Passados</h2>
      <% if past_events.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <% past_events.each do |event| %>
            <div class="bg-gray-700 p-6 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-1 flex flex-col justify-between">
              <h2 class="text-2xl font-bold text-white mb-2"><%= event.title %></h2>
              <p class="text-sm text-gray-400 mb-4 line-clamp-3"><%= event.description %></p>
              <div class="flex items-center justify-between">
                <span class="text-sm font-semibold text-gray-300">
                  Data: <%= event.date.strftime("%d/%m/%Y") %>
                </span>
                <span class="px-3 py-1 text-sm font-bold rounded-full bg-gray-500 text-white">
                  Evento Concluído
                </span>
              </div>

              <!-- Botões de Ação -->
              <div class="flex justify-between mt-4 space-x-4">
                <%= link_to edit_couple_event_path(@couple.slug, event), class: "text-loveRed hover:text-red-600 flex items-center gap-2 transition-all transform hover:scale-110" do %>
                  <i class="fas fa-edit"></i> Editar
                <% end %>

                <%= link_to couple_event_path(@couple.slug, event), method: :delete, data: { confirm: "Tem certeza que deseja excluir este evento?" }, class: "text-red-600 hover:text-red-800 flex items-center gap-2 transition-all transform hover:scale-110" do %>
                  <i class="fas fa-trash-alt"></i> Excluir
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-300 text-center">Nenhum evento passado registrado.</p>
      <% end %>
    </div>
  </div>
</div>
