<div class="min-h-screen bg-loveBlack text-white py-10">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold mb-6 text-center">Eventos de <%= @couple.partner_1 %> e <%= @couple.partner_2 %></h1>
    <% if @events.any? %>
      <ul class="space-y-4">
        <% @events.each do |event| %>
          <li class="bg-loveRed p-4 rounded-lg shadow-md">
            <h2 class="text-xl font-bold"><%= event.title %></h2>
            <p class="text-sm text-gray-200"><%= event.description %></p>
            <p class="text-sm mt-2 text-gray-400">Data: <%= event.date %></p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center text-gray-300">Nenhum evento cadastrado ainda. 
        <%= link_to "Adicione um novo evento", new_couple_event_path(@couple.slug), class: "text-loveRed underline" %>
      </p>
    <% end %>
  </div>
</div>
