<div class="bg-gray-800 p-10 rounded-xl shadow-2xl transform hover:shadow-xl transition-all mt-10">
  <h2 class="text-4xl font-extrabold text-loveRed mb-6 text-center tracking-wide drop-shadow-lg">
    Desafio de Economia
  </h2>

  <p class="text-gray-300 mb-8 text-center text-lg">
    Complete os quadrados para atingir sua meta financeira!
  </p>

  <div class="text-sm text-gray-400 text-center mb-6">
    <p><strong>Nota:</strong> O valor total permitido é até <%= SavingsTable::MAX_VALUE %> reais.</p>
  </div>

  <%= form_with model: [@couple, @savings_table], url: couple_savings_table_path(@couple), method: :patch, local: true, class: "flex items-center flex-wrap flex-col justify-center gap-6 mb-10" do |f| %>
    <!-- Valor Total -->
    <div class="flex flex-col items-center bg-gray-700 p-5 rounded-lg shadow-lg w-52">
      <%= f.label :max_value, "Valor Total:", class: "text-gray-300 mb-3 font-semibold" %>
      <%= f.number_field :max_value,
                         min: 1,
                         max: SavingsTable::MAX_VALUE,
                         class: "bg-gray-800 text-white p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-loveRed transition-all text-center font-bold",
                         placeholder: "Ex: 1000" %>
    </div>

    <!-- Botão Salvar -->
    <div class="flex justify-center">
      <%= f.submit "Salvar Alterações", class: "bg-green-500 text-white px-4 py-1 rounded font-medium shadow hover:bg-green-600 transition-transform transform hover:scale-105" %>
    </div>
  <% end %>

  <div data-controller="savings-table-squares">
    <!-- Grid de Quadrados -->
    <%= render partial: "squares_grid", locals: { savings_table: @savings_table } %>

    <!-- Total Atual -->
    <%= render partial: "savings_total", locals: { savings_table: @savings_table } %>
  </div>

</div>
