<div data-controller="goal-modal" class="min-h-screen bg-loveBlack text-white py-10">
  <div class="container mx-auto px-4">
    <!-- Título e Botão de Adicionar -->
    <div class="bg-gray-800 py-6 px-8 rounded-lg shadow-lg mb-12">
      <div class="flex justify-between items-center">
        <h1 class="text-4xl font-bold text-white tracking-wide">
          Metas de <span class="text-loveRed"><%= @couple.partner_1_first_name %></span> e <span class="text-loveRed"><%= @couple.partner_2_first_name %></span>
        </h1>
        <%= link_to "Adicionar Meta", new_couple_goal_path(@couple.slug), class: "bg-green-500 text-white px-6 py-3 rounded-md font-semibold hover:bg-green-600 shadow-xl transition-transform transform hover:scale-105" %>
      </div>
      <p class="text-gray-300 mt-2">Planeje e conquiste as metas mais importantes da sua vida a dois.</p>
    </div>

    <!-- Lista de Metas -->
    <% pending_goals = @goals.where(achieved: false).order(due_date: :asc) %>
    <% achieved_goals = @goals.where(achieved: true).order(due_date: :asc) %>

    <!-- Metas Pendentes -->
    <div class="mb-16">
      <h2 class="text-3xl font-bold text-green-400 mb-6 text-center">Metas Pendentes</h2>
      <% if pending_goals.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <% pending_goals.each do |goal| %>
            <div id="<%= dom_id(goal) %>" class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:-translate-y-1 flex flex-col justify-between min-h-[320px]">
              <!-- Imagem ou Placeholder -->
              <% if goal.images.attached? %>
                <div class="mb-4">
                  <img src="<%= url_for(goal.images.first) %>" 
                       alt="Imagem da Meta" 
                       class="w-full h-48 object-cover rounded-lg shadow-md">
                </div>
              <% else %>
                <div class="mb-4 bg-gradient-to-tr from-gray-700 to-gray-900 w-full h-48 rounded-lg flex items-center justify-center">
                  <i class="fas fa-image text-gray-500 text-4xl"></i>
                </div>
              <% end %>

              <!-- Conteúdo do Card -->
              <h3 class="text-2xl font-bold text-white mb-2"><%= goal.title %></h3>
              <p class="text-sm text-gray-300 mb-4"><%= goal.description %></p>
              <p class="text-sm text-gray-400 mb-4">Data Limite: <%= goal.due_date.strftime("%d/%m/%Y") %></p>

              <% if goal.numeric? %>
                <% progress = ((goal.current_value.to_f / goal.numeric_value.to_f) * 100).round(2) %>
                <div class="flex justify-end text-sm text-gray-300">
                  <span class="font-semibold text-white"><%= goal.numeric_value %></span>
                </div>
                <div class="w-full bg-gray-600 rounded-full h-4 mb-4">
                  <div class="bg-loveRed h-4 rounded-full" style="width: <%= progress %>%;"></div>
                </div>
                <p class="text-sm text-gray-300">
                  Progresso: <span class="font-semibold text-white"><%= progress %>%</span>
                </p>
              <% else %>
                <p class="text-yellow-400 font-bold mb-4">Meta em andamento</p>
              <% end %>

              <!-- Botões de Ação -->
              <div class="flex justify-between mt-4 space-x-4">
                <%= link_to mark_as_achieved_couple_goal_path(@couple.slug, goal), data: { "turbo-method": :patch }, class: "text-green-500 hover:text-green-700 flex items-center gap-2 transition-all transform hover:scale-110" do %>
                  <i class="fas fa-check-circle"></i> Concluir
                <% end %>

                <% if goal.numeric? %>
                  <button 
                    data-action="click->goal-modal#open"
                    data-goal-id="<%= goal.id %>" 
                    data-base-url="<%= couple_goal_path(@couple.slug, ":id") %>" 
                    data-current-value="<%= goal.current_value %>" 
                    class="text-purple-500 hover:text-purple-700 flex items-center gap-2 transition-all transform hover:scale-110">
                    <i class="fas fa-plus"></i> Editar Valor
                  </button>
                <% end %>

                <%= link_to edit_couple_goal_path(@couple.slug, goal), class: "text-loveRed hover:text-red-600 flex items-center gap-2 transition-all transform hover:scale-110" do %>
                  <i class="fas fa-edit"></i> Editar
                <% end %>

                <%= link_to couple_goal_path(@couple.slug, goal), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja excluir esta meta?' }, class: "text-red-600 hover:text-red-800 flex items-center gap-2 transition-all transform hover:scale-110" do %>
                  <i class="fas fa-trash-alt"></i> Excluir
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-center text-gray-400">Nenhuma meta pendente registrada.</p>
      <% end %>
    </div>

    <!-- Separador -->
    <div class="border-t border-gray-700 mb-16"></div>

    <!-- Metas Alcançadas -->
    <div class="mb-16">
      <h2 class="text-3xl font-bold text-loveRed mb-6 text-center">Metas Alcançadas</h2>
      <% if achieved_goals.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <% achieved_goals.each do |goal| %>
            <div id="<%= dom_id(goal) %>" class="bg-gray-900 p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:-translate-y-1 flex flex-col justify-between min-h-[320px]">
              <!-- Imagem ou Placeholder -->
              <% if goal.images.attached? %>
                <div class="mb-4">
                  <img src="<%= url_for(goal.images.first) %>" 
                       alt="Imagem da Meta" 
                       class="w-full h-48 object-cover rounded-lg shadow-md">
                </div>
              <% else %>
                <div class="mb-4 bg-gradient-to-tr from-gray-700 to-gray-900 w-full h-48 rounded-lg flex items-center justify-center">
                  <i class="fas fa-image text-gray-500 text-4xl"></i>
                </div>
              <% end %>

              <h3 class="text-2xl font-bold text-white mb-2"><%= goal.title %></h3>
              <p class="text-sm text-gray-300 mb-4"><%= goal.description %></p>
              <p class="text-sm text-gray-400 mb-4">Concluída em: <%= goal.updated_at.strftime("%d/%m/%Y") %></p>

            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-center text-gray-400">Nenhuma meta alcançada registrada.</p>
      <% end %>
    </div>
  </div>

    <!-- Modal -->
  <div data-goal-modal-target="modal" class="fixed inset-0 bg-black bg-opacity-50 hidden z-50 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md">
      <h2 class="text-xl font-bold text-gray-800 mb-4">Editar Valor Atual</h2>
      <%= form_with model: Goal.new, url: "", method: :patch, local: true, data: { goal_modal_target: "form" } do |f| %>
        <div class="mb-4">
          <%= f.label :current_value, "Valor Atual", class: "block text-sm font-medium text-gray-700" %>
          <%= f.number_field :current_value, value: "", step: "0.01", 
                class: "mt-1 block w-full text-black border-gray-300 rounded-md shadow-sm focus:ring-loveRed focus:border-loveRed sm:text-sm",
                data: { goal_modal_target: "currentValueField" } %>
        </div>
        <div class="flex justify-end">
          <button data-action="click->goal-modal#close" type="button" class="bg-gray-200 text-gray-700 px-4 py-2 rounded-md mr-2">Cancelar</button>
          <%= f.submit "Salvar", class: "bg-loveRed text-white px-4 py-2 rounded-md font-semibold hover:bg-red-600 transition-all" %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>