<div class="min-h-screen bg-loveBlack text-white py-10">
  <div class="container mx-auto px-4">
    <!-- Título e Botão de Adicionar -->
    <div class="bg-gray-800 py-6 px-8 rounded-lg shadow-lg mb-12">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-extrabold text-white tracking-wide">
          Metas de <span class="text-loveRed"><%= @couple.partner_1 %></span> e <span class="text-loveRed"><%= @couple.partner_2 %></span>
        </h1>
        <%= link_to "Adicionar Meta", new_couple_goal_path(@couple.slug), class: "bg-green-500 text-white px-6 py-3 rounded-md font-semibold hover:bg-green-600 shadow transition-transform transform hover:scale-105" %>
      </div>
    </div>

    <% pending_goals = @goals.where(achieved: false).order(due_date: :asc) %>
    <% achieved_goals = @goals.where(achieved: true).order(due_date: :asc) %>

    <!-- Metas Pendentes -->
    <div class="mb-16">
      <h2 class="text-3xl font-bold text-green-400 mb-6 text-center">Metas Pendentes</h2>
      <% if pending_goals.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <% pending_goals.each do |goal| %>
            <div class="flex flex-col bg-green-700 p-6 rounded-lg shadow-lg hover:translate-y-1 transition-transform">
              <h2 class="text-2xl font-bold text-white mb-2"><%= goal.title %></h2>
              <p class="text-sm text-gray-200 mb-4"><%= goal.description %></p>
              <p class="text-sm text-gray-300 mb-4">Data Limite: <%= goal.due_date.strftime("%d/%m/%Y") %></p>

              <!-- Indicador de Pendente -->
              <span class="w-24 text-center px-3 py-1 text-xs font-bold bg-yellow-500 text-black rounded-full">
                Pendente
              </span>



              <!-- Botões de Editar e Excluir -->
              <div class="mt-4 flex justify-between items-center">
                <%= link_to "Concluir Meta", mark_as_achieved_couple_goal_path(@couple.slug, goal), data: { "turbo-method": :patch }, class: "text-white bg-green-600 px-4 py-2 rounded-md font-semibold hover:bg-yellow-500 transition-all duration-300" %>
                
                <!-- Botões de Editar e Excluir -->
                <div class="flex space-x-4">
                  <%= link_to "Editar", edit_couple_goal_path(@couple.slug, goal), class: "text-white bg-blue-600 px-4 py-2 rounded-md font-semibold hover:bg-blue-700" %>
                  <%= link_to "Excluir", couple_goal_path(@couple.slug, goal), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta meta?' }, class: "text-white bg-red-600 px-4 py-2 rounded-md font-semibold hover:bg-red-700" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-300 text-center">Nenhuma meta pendente registrada.</p>
      <% end %>
    </div>

    <!-- Separador -->
    <div class="border-t border-gray-700 mb-16"></div>

    <!-- Metas Atingidas -->
    <div>
      <h2 class="text-3xl font-bold text-green-300 mb-6 text-center">Metas Atingidas</h2>
      <% if achieved_goals.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <% achieved_goals.each do |goal| %>
            <div class="flex flex-col bg-green-900 p-6 rounded-lg shadow-lg hover:translate-y-1 transition-transform">
              <h2 class="text-2xl font-bold text-white mb-2"><%= goal.title %></h2>
              <p class="text-sm text-gray-200 mb-4"><%= goal.description %></p>
              <p class="text-sm text-gray-300 mb-4">Atingida em: <%= goal.due_date.strftime("%d/%m/%Y") %></p>

              <!-- Indicador de Atingida -->
              <span class="w-24 text-center px-3 py-1 text-xs font-bold bg-green-500 text-white rounded-full">
                Atingida
              </span>

              <!-- Botões de Editar e Excluir -->
              <div class="mt-4 flex justify-between items-center">
                <div class="flex space-x-4">
                  <%= link_to "Editar", edit_couple_goal_path(@couple.slug, goal), class: "text-white bg-blue-600 px-4 py-2 rounded-md font-semibold hover:bg-blue-700" %>
                  <%= link_to "Excluir", couple_goal_path(@couple.slug, goal), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta meta?' }, class: "text-white bg-red-600 px-4 py-2 rounded-md font-semibold hover:bg-red-700" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-300 text-center">Nenhuma meta atingida registrada.</p>
      <% end %>
    </div>
  </div>
</div>
