<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Amorlog - Guarde e organize os momentos mais especiais do seu relacionamento.">
    <meta name="keywords" content="relacionamento, casal, momentos, eventos, metas">
    <meta name="author" content="Amorlog Team">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : "Amorlog" %></title>
    
    <!-- Estilos -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">

    <!-- JavaScript -->
    <%= javascript_importmap_tags %>
    
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="bg-loveBlack text-white min-h-screen">
    <!-- Navbar -->
    <nav class="bg-loveRed text-white p-4 shadow-lg">
      <div class="container mx-auto flex justify-between items-center">
        <!-- Logo ou Nome da Plataforma -->
        <div>
          <%= link_to root_path, class: "text-4xl font-extrabold text-white transition-all duration-300 flex items-center gap-2" do %>
            <i class="fas fa-heartbeat text-black bg-white p-2 rounded-full hover:text-loveBlack transition-transform transform hover:scale-110"></i>
            <span class="hover:text-loveBlack transition-all">AmorLog</span>
          <% end %>
        </div>

        <!-- Links de Navegação -->
        <div class="space-x-4">
          <%= link_to "Início", root_path, class: "bg-loveBlack text-loveRed px-4 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-900 hover:text-white transition-all transform hover:scale-105" %>
          <% if user_signed_in? %>
            <%= link_to "Timeline", couple_timeline_path(current_user.couple.slug), class: "bg-loveBlack text-loveRed px-4 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-900 hover:text-white transition-all transform hover:scale-105" %>
            <%= link_to "Nossos Eventos", couple_events_path(current_user.couple.slug), class: "bg-loveBlack text-loveRed px-4 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-900 hover:text-white transition-all transform hover:scale-105" %>
            <%= link_to "Nossas Metas", couple_goals_path(current_user.couple.slug), class: "bg-loveBlack text-loveRed px-4 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-900 hover:text-white transition-all transform hover:scale-105" %>
            <%= link_to "Perfil", edit_couple_path(current_user.couple.slug), class: "bg-loveBlack text-loveRed px-4 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-900 hover:text-white transition-all transform hover:scale-105" %>
            <%= link_to "Sair", destroy_user_session_path, data: { "turbo-method": :delete }, class: "bg-loveBlack text-loveRed px-4 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-900 hover:text-white transition-all transform hover:scale-105" %>
          <% else %>
            <%= link_to "Entrar", new_user_session_path, class: "bg-loveBlack text-loveRed px-4 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-900 hover:text-white transition-all transform hover:scale-105" %>
            <%= link_to "Registrar", new_user_registration_path, class: "bg-loveBlack text-loveRed px-4 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-900 hover:text-white transition-all transform hover:scale-105" %>
          <% end %>
        </div>
      </div>
    </nav>

    <!-- Flash Messages -->
    <%= render "flash_messages" %>


    <!-- Main Content -->
    <main class="container mx-auto mt-8 px-4">
      <%= yield %>
    </main>
  </body>
</html>
